/*Body*/

a {
  border: 1px dashed transparent;
}

.nav-pills .nav-link {
  border: 1px solid transparent;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Marcellus SC', serif;
}

body{
  background-color:#232323;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.05rem;
}

/* Starfield Magazine: CSS rule to limit the magazine images to a maximum of 250px */
.magazine-image {
  max-width: 200px;
  height: auto; /* Maintain the aspect ratio */
}

/*Starfield setImage Styling*/
.set-image {
  width: 215px;
  height: auto;
  max-width: 215px;
  pointer-events: none;
  cursor: none;
}

/* Style for the search input */
.search-bar {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  transition: border-color 0.3s ease;
}

.search-bar-container {
  text-align: center;
  margin: 20px auto; /* Adjust margin as needed for spacing */
}

.search-bar:focus {
  outline: none;
  border-color: #007bff; /* Change the border color when focused */
}

/* Style for the search input in Star Map page*/
.planet-bar {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  transition: border-color 0.3s ease;
}

.planet-bar-container {
  text-align: left;
}

.planet-bar:focus {
  outline: none;
  border-color: #007bff; /* Change the border color when focused */
}


/* Add this CSS to your stylesheet */
.weapon-item img {
  max-width: 100%;
  transition: opacity 0.3s ease-in-out; /* Add a CSS transition for opacity */
}

.weapon-item img.checked {
  opacity: 0.1; /* Reduce opacity for checked weapons */
}

/* Add this CSS to style the filter buttons */
.filter-buttons {
  text-align: center;
  margin-top: 20px;
}

.filter-buttons button {
  background-color: #3A3A3A; /* gray background color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold; /* Add this line to make the text bold */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.filter-buttons button:hover {
  background-color: #ffffff; /* Darker blue on hover */
  color: #3A3A3A;
}


/* Add CSS styling for the grid */
.category-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.category-buttons button {
  margin: 5px;
}

.weapon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
}

.weapon-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.weapon-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Add CSS styling for active button */
.active {
  color: #fff;
}

/* Style for checkbox-buttons */
.checkbox-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px; /* Adjust spacing between buttons */
}

.checkbox-button:hover {
  background-color: #0056b3; /* Hover background color */
}

/* Add this CSS to your main.css file or in a <style> tag in your HTML */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 20px; /* Adjust the gap between cards as needed */
}


/*Accordions*/
.accordion-item{
  background-color:#232323;
  color: white;
  width: 80%;
}

.accordion-item2{
  background-color:#232323;
  color: white;
  width: auto;
}

.accordion-button{
  background-color:#153C4E;
  color: white;
}

.accordion-button2{
  background-color:#153C4E;
  color: white;
}

.accordion-button:not(.collapsed){
  background-color:white;
  font-weight: 700;
  color: #153C4E;
}

.starmapacc{
  width: 100%;
}

/*List-Group*/
.list-group-item{
  background-color:#153C4E;
  color: white;
}


/*OffCanvas*/
.offcanvas-header{
  background-color:#153C4E;
  color: white;
}

.offcanvas-body{
  background-color:#232323;
  color: white;
}

/*Link styles*/
a:hover, a:focus, .nav-link:focus, .nav-link:hover{
    border: 1px dashed #153C4E;
    color: #74BBDC;
}
/*Main Navigation*/	
.dropdown-submenu {
    position: relative;
}

.resources{
font-size: 1.3rem;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-brand{color: white}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  border: 1px solid gray;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(90deg);
} 

.gradient-border{
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a.dropdown-item {
  border: 1px solid transparent;
}

a.dropdown-item:hover,a.dropdown-item:focus {
  color: #153C4E;
  background: white;
}

.navbar , .dropdown , .dropdown-submenu , .dropdown-menu ,.dropdown-item:focus, .dropdown-item:hover{
    background-color:#232323;
}
/*.navbar{
    border: 1px solid #226DBD;
}*/
.navbar a , .dropdown-item:focus, .dropdown-item:hover{
    color: white;
}

#navbarNavDropdown .nav-item { /*Main nav links*/
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 2rem;
}

hr:first-of-type {
  color: transparent;
}

nav{
  font-size: 1.3rem;
}
/*Banner for homepage*/
.banner{
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 650px;
  
}

/*Jumbotron*/
.jumbotron {
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.display-4{
  margin-left: 1%;
  padding-top: 1%;
}
.lead{
  margin-left: 1%;
  padding-bottom: 1%;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*iframe*/
iframe{
  width: 100%;
  height: 500px;
}

/*Quest Checklist Color Codes*/
.vill{color:#FFCC02;}
.arena{color:#339966;}
.norm{color:#00BCDB;}
.encounter{color:#ff6600;}
.mastered{color:#ff0000;}
.assignment{color:#3366ff;}

/*MHR Hex Colors*/
.skillmax{color:#FFB200 !important;}

/*Guiding Lands*/
.tempered{color:#A13FFE;}

/*Checklist Intro*/
.villager{color:#FFCC02;}

/*Hunyrtpir image*/
.hunterpie_img{
    background-image:url("https://camo.githubusercontent.com/3d0fb99bb14cca342adbf82c7f181e37bace9d0a784b3fd6ac84e5d172d74d3f/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3430323535373338343230393230333230302f3733353639353936353436313135313839342f68756e7465727069655f70617472656f6e5f62616e6e65722e706e67");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

/* Style vertical tabs */
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #153C4E;
      cursor: pointer;
      border-color: #153C4E;
  }
/* Style buttons */
 .btn{
    background-color: #153C4E;
    cursor: pointer;
    border-color: #153C4E;
  }

  .btn:hover, .btn:active, .btn-primary:hover, .btn-primary:active, .btn-primary.dropdown-toggle, .btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: white;
    color: #153C4E;
    border-color: #153C4E;
    font-weight: 600;
  }

  pre{
      /*border: 1px solid white;*/
      max-height: 30em;
      overflow: auto;
  }

  .card{
      border: 2px solid #153C4E;
  }

  .nav-link, a{
      color:white
  }
  
  /*Sidebar navigation*/
  #sidebar{
    border-left: 2px solid #153C4E;
    display: block;
    position: sticky;
  }

  #content {
    position: relative;
  }
  
  .breadcrumb-item{
    font-size: 1rem;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Footer*/

#pagefooter {background-color:#153C4E;}

/*FF14 Pages*/

#fclogo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*code{
  color:#00BCDB;
  }*/

  :not(pre)>code[class*=language-], pre[class*=language-] {
    background: black;
  }

  .featured{
    margin: 0 auto; /* Added */
          float: none; /* Added */
        margin-bottom: 10px; /* Added */
        text-align: center;
  }

.switchskills{
  font-size:1.2rem;
  color:#00BCDB;
}

.originskill{
  color: red;
}

.switchset{
  color:orangered;
}

.weaponicon{
  height:30px;
  width:30px
}

.tableft{
  justify-content:left;
}

.table-white-text
{
  color:white;
}

.nav-slick{
  max-height:100px;
  max-width:150px;
}
.slider-nav{
  height:100px;
}

.cover{
  height:auto;
  width:100%;
  max-width: 1250px;
  max-height: 700px;
}

.pathimg{
  height:auto;
  width:100%;
  max-width: 350px;
  max-height: 435px;
}

.detpathimg{
  height:auto;
  width:100%;
  max-width: 800px;
  max-height: 450px;
}

.button-dango{
  float: right;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#myModal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 840px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*Rune Calculator*/
#showdata{
  display: none;
}

/*Starchart*/
.block-element {
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
}
.block-water {
  background-color: #6DA49E;
}

.block-chlorine {
  background-color: #424A57;
}

.block-lead {
  background-color: #444F54;
}

.block-argon {
  background-color: #224B66;
}

.block-chlorosilanes {
  background-color: #4E5D93;
}

.block-helium {
  background-color: #7AB26B;
}

.block-aluminum {
  background-color: #344A49;
}

.block-nickel {
  background-color: #5F4421;
}

.block-cobalt {
  background-color: #33588C;
}

.block-tungsten {
  background-color: #596C75;
}

.block-platinum {
  background-color: #4971A8;
}

.block-xenon {
  background-color: #8498FF;
}

.block-iron {
  background-color: #75403A;
}

.block-copper {
  background-color: #275549;
}

.block-uranium {
  background-color: #4A490F;
}

.block-vanadium {
  background-color: #8E8E33;
}

.block-dysprosium {
  background-color: #74A3B8;
}

.block-benzene {
  background-color: #2B5F80;
}

.block-beryllium {
  background-color: #396764;
}

.block-silver {
  background-color: #7E736D;
}

.block-fluorine {
  background-color: #2F7869;
}

.block-ytterbium {
  background-color: #D4826A;
}

.block-lithium {
  background-color: #5A74CB;
}

.block-alkanes {
  background-color: #A14B54;
}

.block-neodymium {
  background-color: #6A9A97;
}

.block-tetrafluorides {
  background-color: #37A08B;
}

.block-ionicliquids {
  background-color: #4CD7BB;
}

.block-europium {
  background-color: #9FD0CD;
}

.block-caesium {
  background-color: #8A84FF;
}

.block-plutonium {
  background-color: #B8B840;
}

.block-iridium {
  background-color: #706E29;
}

.block-neon {
  background-color: #2AA1BE;
}

.block-carboxylicacids {
  background-color: #3A7B9C;
}

.block-gold {
  background-color: #C79E4E;
}

.block-palladium {
  background-color: #D9A23C;
}

.block-mercury {
  background-color: #AB9489;
}

.block-titanium {
  background-color: #698794;
}

.block-antimony {
  background-color: #DBBF5B;
}

.block-aldumite {
  background-color: #BA8CFF;
}

.block-indicite {
  background-color: #D7FFFF;
}

.block-rothicite {
  background-color: #FC9375;
}

.block-tasine {
  background-color: #EDED56;
}

.block-veryl {
  background-color: #27D6E6;
}

.block-vytinium {
  background-color: #EDED56;
}
/*About page*/
.about-img{
  font-size:2.5rem;
  background: linear-gradient(
    55deg,
    hsl(0deg 0% 100%) 0%,
    hsl(0deg 0% 74%) 8%,
    hsl(0deg 0% 48%) 17%,
    hsl(0deg 0% 23%) 25%,
    hsl(0deg 0% 48%) 33%,
    hsl(0deg 0% 74%) 41%,
    hsl(0deg 0% 100%) 49%,
    hsl(199deg 58% 73%) 58%,
    hsl(199deg 58% 46%) 66%,
    hsl(199deg 58% 19%) 74%,
    hsl(199deg 38% 18%) 83%,
    hsl(196deg 19% 15%) 91%,
    hsl(0deg 0% 14%) 100%
  );
-webkit-background-clip: text; /* for webkit-based browsers */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* hide text color */
    color: transparent; /* hide text color */
}
.card{
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.1) 0px 30px 60px -30px;
}

/* Custom Modal Background */
.modal-content {
  background-color: #232323; /* Change to desired background color */
  color: white; /* Adjust text color to contrast with the background */
}

/* Custom Modal Header */
.modal-header {
  background-color: #3A3A3A; /* Change to desired header background color */
  color: white; /* Text color */
}

/* Optional: Customizing the Close Button */
.modal-header .btn-close {
  filter: invert(1); /* Changes the close button to be visible on dark background */
}

/* Custom Modal Body */
.modal-body {
  background-color: #232323; /* You can set a different background for the body */
}

/* Customizing Modal Footer (optional) */
.modal-footer {
  background-color: #e74a3b; /* Change to any color you prefer */
}

/* Customizing <hr> in the Modal */
.modal hr {
  border: none;              /* Removes the default border */
  height: 2px;               /* Adjust the height (thickness) of the line */
  background-color: #232323; /* Set the color of the line (custom color) */
  margin: 10px 0;            /* Adjust the margin around the <hr> to control spacing */
}

 /* Change the color of the HR inside the card */
 .card-hr {
  border-color: #007BFF; /* Customize this to your desired color */
  border-width: 2px;
}

/* No Man Sky Code */
.glyph img{
  max-width: 75px;
  height: auto;
}

#search {
  position: relative;
}

#searchDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure dropdown is above other elements */
  display: none; /* Hide dropdown by default */
}

#searchInput:focus + #searchDropdown {
  display: block; /* Show dropdown when search input is focused */
}

.small-fluid-image {
  max-width: 750px;
  width: 100%;
}