/*Body*/
p{
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Marcellus SC', serif;
}

body{
  background-color:#232323;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.05rem;
}

/*Accordions*/
.accordion-item{
  background-color:#232323;
  color: white;
  width: 80%;
}

.accordion-button{
  background-color:#153C4E;
  color: white;
}

.accordion-button:not(.collapsed){
  background-color:white;
  font-weight: 700;
  color: #153C4E;
}

/*List-Group*/
.list-group-item{
  background-color:#153C4E;
  color: white;
}


/*OffCanvas*/
.offcanvas-header{
  background-color:#153C4E;
  color: white;
}

.offcanvas-body{
  background-color:#232323;
  color: white;
}

/*Link styles*/
a:hover, a:focus, .nav-link:focus, .nav-link:hover{
    border: 1px dashed #153C4E;
    color: #74BBDC;
}
/*Main Navigation*/	
.dropdown-submenu {
    position: relative;
}

.resources{
font-size: 1.3rem;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(90deg);
} 

.gradient-border{
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar , .dropdown , .dropdown-submenu , .dropdown-menu ,.dropdown-item:focus, .dropdown-item:hover{
    background-color:#232323;
}
/*.navbar{
    border: 1px solid #226DBD;
}*/
.navbar a , .dropdown-item:focus, .dropdown-item:hover{
    color: white;
}
.nav-item{ /*Main nav links*/
    font-family: 'Roboto Condensed', sans-serif;
}

nav{
  font-size: 1.3rem;
}
/*Banner for homepage*/
.banner{
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 650px;
  
}

/*Jumbotron*/
.jumbotron{
    background-color:#153C4E;
}
.display-4{
  margin-left: 1%;
  padding-top: 1%;
}
.lead{
  margin-left: 1%;
  padding-bottom: 1%;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*iframe*/
iframe{
  width: 100%;
  height: 500px;
}

/*Quest Checklist Color Codes*/
.vill{color:#FFCC02;}
.arena{color:#339966;}
.norm{color:#00BCDB;}
.encounter{color:#ff6600;}
.mastered{color:#ff0000;}
.assignment{color:#3366ff;}

/*Guiding Lands*/
.tempered{color:#A13FFE;}

/*Checklist Intro*/
.villager{color:#FFCC02;}

/*Hunyrtpir image*/
.hunterpie_img{
    background-image:url("https://camo.githubusercontent.com/3d0fb99bb14cca342adbf82c7f181e37bace9d0a784b3fd6ac84e5d172d74d3f/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3430323535373338343230393230333230302f3733353639353936353436313135313839342f68756e7465727069655f70617472656f6e5f62616e6e65722e706e67");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

/* Style vertical tabs */
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #153C4E;
      cursor: pointer;
      border-color: #153C4E;
  }
/* Style buttons */
 .btn{
    background-color: #153C4E;
    cursor: pointer;
    border-color: #153C4E;
  }

  .btn:hover, .btn:active, .btn-primary:hover, .btn-primary:active, .btn-primary.dropdown-toggle, .btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: white;
    color: #153C4E;
    border-color: #153C4E;
    font-weight: 600;
  }

  pre{
      /*border: 1px solid white;*/
      max-height: 30em;
      overflow: auto;
  }

  .card{
      border: 2px solid #153C4E;
  }

  .nav-link, a{
      color:white
  }
  
  /*Sidebar navigation*/
  #sidebar{
    border-left: 2px solid #153C4E;
    display: block;
    position: sticky;
  }

  #content {
    position: relative;
  }
  
  .breadcrumb-item{
    font-size: 1rem;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Footer*/

#pagefooter {background-color:#153C4E;}

/*FF14 Pages*/

#fclogo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*code{
  color:#00BCDB;
  }*/

  :not(pre)>code[class*=language-], pre[class*=language-] {
    background: black;
  }

  .featured{
    margin: 0 auto; /* Added */
          float: none; /* Added */
        margin-bottom: 10px; /* Added */
        text-align: center;
  }

.switchskills{
  font-size:1.2rem;
  color:#00BCDB;
}

.originskill{
  color: red;
}

.switchset{
  color:orangered;
}

.weaponicon{
  height:30px;
  width:30px
}

.tableft{
  justify-content:left;
}

.nav-slick{
  max-height:100px;
  max-width:150px;
}
.slider-nav{
  height:100px;
}

.cover{
  height:auto;
  width:100%;
  max-width: 1250px;
  max-height: 700px;
}

.pathimg{
  height:auto;
  width:100%;
  max-width: 350px;
  max-height: 435px;
}

.detpathimg{
  height:auto;
  width:100%;
  max-width: 800px;
  max-height: 450px;
}

.button-dango{
  float: right;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 840px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}